body {
    background-color: #03A9F4;
    color: white;
    font-family: Arial, sans-serif;
}

a {
    color: #E1F5FE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}